/*--- Avanquest WebEasy Page Style ---*/


img#e4              { /* images/ilyrics_html00100... */
	position        : absolute;
	left            :   0.00pt;
	top             :   0.00pt;
	width           :1440.00pt;
	height          : 810.00pt;
	}
address#e3          { /* Mladenovac\ \Kralja Petr... */
	font            : italic bold 20pt 'Tekton Pro';
	color           : #c0c0c0;
	text-align      : left;
	position        : absolute;
	left            :  87.75pt;
	top             : 581.25pt;
	width           : 295.50pt;
	height          :  78.75pt;
	}
address#e2          { /* +381 63 8 32 33 66\ \ily... */
	font            : bold 20pt 'Times New Roman', Book, Georgia, serif;
	color           : #ffffff;
	text-align      : left;
	position        : absolute;
	left            :  87.75pt;
	top             : 526.50pt;
	width           : 231.00pt;
	height          :  55.50pt;
	}
img#e1              { /* images/ilyrics_html00100... */
	position        : absolute;
	left            : 457.50pt;
	top             : 142.50pt;
	width           : 525.00pt;
	height          : 525.00pt;
	}
div#page            { /* Page Holder */
	position        : relative;
	width           :1440.00pt;
	height          : 810.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #4e4e4e;
	text-align      : center;
	}



/*--- EndOfFile ---*/
